config.mk
build/
libmgl.dylib
external/OpenGL-Registry/
external/SPIRV-Cross/
external/SPIRV-Headers/
external/SPIRV-Tools/
external/ezxml/
external/glslang/
/SPIRV-Headers
/SPIRV-Cross
/MGL.gputrace
/Info.plist
